<h1>Select your role:</h1>

<%# Button redirects to instructor or student pages %>

<div>
  <%= link_to 'Instructor', instructor_path, class: 'button' %>
</div>
<div>
  <%= link_to 'Student', student_path, class: 'button' %>
</div>

