<%= stylesheet_link_tag 'homepage', media: 'all', 'data-turbo-track': 'reload' %>
<title>
<h1 class="title">Student Evaluation Application</h1>
</title>

<body>
<div class="homepage-container">
  <h1 class="home-title">Select your role:</h1>
  <div class="role-selection">
      <div>
        <%= link_to 'Instructor', instructor_path, class: 'button',class: 'instructor' %>
      </div>
      <div>
        <%= link_to 'Student', student_path, class: 'button', class: 'student' %>
      </div>
</div>
</div>
</body>